body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-image: radial-gradient(#A04747, #7c3737);
}

@keyframes entradahead {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0%);
    }
}

.header-content {
    animation: 1s ease-out 0s 1 entradahead;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(#343131, #252323);
    z-index: 1;
    border-bottom: 0.6vh solid #7c3737;
    box-shadow: 0px 4px 0vh #252323;
}


.navigation {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.navbut {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #7c3737;
    color: #252323;
    height: 4vh;
    width: 30vh;
    border-radius: 1vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

.navbut:hover {
    cursor: pointer;
}

.navbut:active {
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}

.main-stats {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#nome{
    animation: 0.5s ease-in 0s 1 entradanome;
    height: 2vh;
    width: 20vh;
    margin-bottom: 2vh;
    resize: none;
    text-align: center;
}
#hide-show{
    margin-top: -1.9vh;
    height: 3vh;
}

@keyframes entrada {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

.main-container {
    animation: 1s ease-out 0s 1 entrada;
    height: 40vh;
    width: 65vh;
    border-radius: 3vh;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
    background-color: #252323;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div {
    margin-top: 1vh;
    gap: 1vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #7c3737;
    border-radius: 0.3vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
    color: #252323;
}

.input-div button:hover {
    cursor: pointer;
}

.input-div button:active {
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}

.input-div input {
    border-radius: 0.5vh;
    text-align: center;
    border: 0.6vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

.lbl {
    margin-bottom: 1.5vh;
}

#lblMana {
    margin-top: 1.5vh;
}

#health {
    border: 2px solid rgb(255, 255, 255);
    width: 50vh;
    height: 4vh;
    border-radius: 5vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

#health::-webkit-progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5vh;
}

#health::-webkit-progress-value {
    background-image: linear-gradient(0.25turn, #800101, #ff0000);
    border-radius: 5vh;
}

#mana {
    border: 2px solid rgb(255, 255, 255);
    width: 50vh;
    height: 4vh;
    border-radius: 5vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

#mana::-webkit-progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5vh;
}

#mana::-webkit-progress-value {
    background-image: linear-gradient(0.25turn, #026370, #00e1ff);
    border-radius: 5vh;
}

.main-settings {
    width: 100%;
    height: 89vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-top: 0.6vh solid #252323;
}

@media only screen and (max-width: 800px) {
    .main-container {
        height: 35vh;
        width: 55vh;
    }
}

@media only screen and (max-width: 600px) {
    .main-container {
        height: 35vh;
        width: 40vh;
    }

    #health {
        width: 30vh;
    }

    #mana {
        width: 30vh;
    }
}

@media only screen and (max-width: 300px) {
    .main-container {
        height: 35vh;
        width: 30vh;
    }

    #health {
        width: 25vh;
    }

    #mana {
        width: 25vh;
    }

    .input-div input {
        width: 15vh;
    }
}