/*A04747*/
.header {
    background-image: linear-gradient(#343131, #292626);
    height: 15vh;
    width: 100%;
    border-bottom: 1vh solid #A04747;
    box-shadow: 0px 0.75vh #343131;
    z-index: 1px;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes click {
    0% {
        transform: scale(1);
    }

    99% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: radial-gradient(#343131, #292626);
    height: 71.25vh;
    width: 30%;
    margin-top: 0.60vh;
    margin-bottom: 0.60vh;
    z-index: 0px;
}

.sidebar button {
    font-family: "Almendra SC",'Franklin Gothic Medium', 'Arial Narrow', Arial;
    letter-spacing: 1vh;
    font-size: xx-large;
    font-weight: bolder;
    color: #343131;
    width: 50vh;
    height: 10vh;
    background-image: radial-gradient(#A04747, #a13838);
    border: 1vh solid #343131;
    box-shadow: 0 0 0 0.75vh #A04747;
}

.sidebar button:hover {
    color: #A04747;
    background-image: radial-gradient(#343131, #292626);
    border: 1vh solid #A04747;
    box-shadow: 0 0 0 0.75vh #343131;
}

.sidebar button:active {
    animation-name: click;
    animation-duration: 0.1s;
}

.main {
    background-image: radial-gradient(#A04747, #a13838);
    height: 71.25vh;
    width: 70%;
    border-right: 0.8vh solid #343131;
    margin-top: 0.60vh;
    margin-bottom: 0.60vh;
    z-index: 0px;
}

.footer {
    background-image: linear-gradient(#343131, #292626);
    height: 11.75vh;
    width: 100%;
    border-top: 1vh solid #A04747;
    box-shadow: 0px -0.75vh 0px #343131;
    z-index: 1px;
}