body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(#343131, #252323);
    z-index: 1;
    border-bottom: 0.6vh solid #7c3737
}

.navigation {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbut {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #7c3737;
    color: #252323;
    height: 3vh;
    width: 25vh;
    border-radius: 1vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

.navbut:hover {
    cursor: pointer;
}

.navbut:active {
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}

.main-stats {
    width: 100%;
    height: 89vh;
    background-image: radial-gradient(#A04747, #7c3737);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-top: 0.6vh solid #252323;
}

.health-mana {
    height: 40vh;
    width: 40vh;
    border-radius: 3vh;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
    background-color: #252323;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div {
    gap: 1vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #7c3737;
    border-radius: 0.3vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
    color: #252323;
}

.input-div button:hover {
    cursor: pointer;
}

.input-div button:active {
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}

.input-div input {
    border-radius: 0.5vh;
    text-align: center;
    border: 0.3vh solid #7c3737;
}

#health {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 25px;
    border-radius: 5vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

#health::-webkit-progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5vh;
}

#health::-webkit-progress-value {
    background-image: linear-gradient(0.25turn, #800101, #ff0000);
    border-radius: 5vh;
}

#mana {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 25px;
    border-radius: 5vh;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}

#mana::-webkit-progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5vh;
}

#mana::-webkit-progress-value {
    background-image: linear-gradient(0.25turn, #026370, #00e1ff);
    border-radius: 5vh;
}

.main-settings {
    width: 100%;
    height: 89vh;
    background-image: radial-gradient(#A04747, #7c3737);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-top: 0.6vh solid #252323;
}

.settings {
    height: 40vh;
    width: 40vh;
    border-radius: 3vh;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
    background-color: #252323;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}